############################
# Build output
############################
bin/
obj/

############################
# IDE files
############################
.vs/
.vscode/
.idea/

############################
# Solution & user files
############################
*.sln
*.user
*.suo
*.rsuser

############################
# App configuration
############################
appsettings.json
appsettings.*.json

############################
# Logs / OS junk
############################
*.log
*.tmp
.DS_Store
Thumbs.db

############################
# Publish output
############################
publish/
wwwroot/lib/
